* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 218, 218);
}

.entry-field {
    display: block;
    width: 1000px;
    height: 30%;
}

.keyboard {
    width: 1000px;
    height: 40%;
    margin-top: 50px;
    background-color: rgb(95, 95, 95);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.row-keys {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;
    gap: 10px
}

.key {
    width: 60px;
    height: 100%;
    background-color: rgb(59, 50, 50);
    color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
}

.key.active {
    background-color: rgb(34, 13, 151);
}

.key:not(.active) {
    cursor: pointer;
}

.key:not(.active):hover {
    background-color: rgb(16, 53, 31);
}

#Backspace,
#Tab,
#CapsLock,
#Enter,
#ShiftLeft,
#ShiftRight,
#Space {
    width: auto;
    flex-grow: 1;
}

#ControlLeft,
#ControlRight {
    width: auto;
    flex-grow: 0.1;
}

#Backspace,
#ArrowUp,
#ArrowDown,
#ArrowLeft,
#ArrowRight {
    font-size: 30px;
}


.additional-value-key {
    display: block;
    position: absolute;
    top: 5%;
    left: 10%;
}

.basic-value-key {
    display: block;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.entry-field {
    outline: none;
    font-size: 18px;
    padding: 10px;
}

h2 {
    font-weight: 600;
    letter-spacing: 0.06em;
    padding-top: 20px;
}